<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>


<div class="container">
    <div class="form">
        <h2>Trang đăng nhập cho admin</h2>
        <div th:if="${param.error}" class="validationError">
            <h4 style="color: red">Sai tên người dùng hoặc mật khẩu</h4>
        </div>
        <form th:action="@{/admin/login}" method="POST">
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <!-- Checkbox -->
            <div class="form-check">
                <label class="check">Remember me </label>
                <input class="form-check-input" type="checkbox" name="adminId">
            </div>
            <input type="submit" value="Đăng nhập" class="btn">

        </form>

    </div>
</div>
</body>
</html>