<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- In the <head> -->

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- custom css file link  -->
    <title>Medicate – Health & Medical HTML Template</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- LOADING FONTS AND ICONS -->
    <link rel="stylesheet" type="text/css" href="css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="css/rs6.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Progressbar CSS -->
    <link rel="stylesheet" href="css/progressbar.css">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="css/animations.min.css">
    <!-- Magnefic Popup CSS -->
    <link rel="stylesheet" href="css/magnific-popup.min.css">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <!--  Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!--  Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
<!--loading start-->
<div id="pq-loading">
    <div id="pq-loading-center">
        <img src="images/logo.png" class="img-fluid" alt="loading">
    </div>
</div>
<!--loading End-->

<!--=================================
 header start-->
<header id="pq-header" class="pq-header-default ">
    <div th:replace="fragments/fragment :: loginBar"></div>
    <nav th:replace="fragments/fragment :: menu"></nav>
</header>
<!--==============
   Header end
   =================-->

<!-- START Home 1 REVOLUTION SLIDER 6.5.19

  ================================= -->
<p class="rs-p-wp-fix"></p>
<rs-module-wrap id="rev_slider_24_1_wrapper" data-alias="home-1" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
    <rs-module id="rev_slider_24_1" data-version="6.5.19">
        <rs-slides>
            <rs-slide style="position: absolute;" data-key="rs-84" data-title="Slide" data-thumb="rev/assets/1-51-50x100.jpg" data-anim="ms:600;" data-in="o:0;" data-out="a:false;">
                <img src="images/1-51.jpg" alt="" title="1-51.jpg" class="rev-slidebg tp-rs-img" data-no-retina="">
                <!--
                -->
                <rs-layer id="slider-24-slide-84-layer-0" data-type="text" data-color="#666666" data-rsp_ch="on" data-xy="xo:30px;y:m;yo:2px,17px,29px,17px;" data-text="w:normal;s:16,16,14,12;l:32,24,22,20;fw:600;" data-dim="w:654px,565px,436px,268px;h:auto,auto,45px,27px;" data-vbility="t,t,t,f" data-frame_0="x:50,39,22px,13px;y:0,0,0px,0px;" data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;st:1100;sp:1000;sR:1100;" data-frame_999="o:0;st:w;sR:6900;" style="z-index:11;font-family:'Quicksand';">Nền tảng đặt lịch khám bệnh của chúng tôi được thiết kế trực quan, dễ sử dụng, giúp bạn dễ dàng tìm kiếm và đặt lịch với đội ngũ bác sĩ uy tín, tận tâm.
                </rs-layer>
                <!--
                -->
                <rs-layer id="slider-24-slide-84-layer-1" data-type="text" data-color="#2490eb" data-rsp_ch="on" data-xy="xo:41px,38px,38px,39px;y:m;yo:-197px,-154px,-121px,-78px;" data-text="w:normal;s:14,14,14,13;l:22,22,26,21;fw:600;" data-dim="w:auto,auto,auto,144px;" data-frame_0="x:50,39,29,17;" data-frame_1="st:600;sp:1000;sR:600;" data-frame_999="o:0;st:w;sR:7400;" style="z-index:9;font-family:'Quicksand';text-transform:uppercase;">Đam mê chăm sóc
                </rs-layer>
                <!--
                -->
                <rs-layer id="slider-24-slide-84-layer-2" data-type="text" data-color="#18100f" data-rsp_ch="on" data-xy="xo:30px,30px,30px,31px;y:m;yo:-105px,-75px,-50px,-30px;" data-text="w:normal;s:64,48,42,22;l:72,56,50,30;fw:600;" data-border="boc:#14457b;bow:1px,1px,1px,1px;" data-frame_0="x:50,39,29,17;" data-frame_1="st:900;sp:1000;sR:900;" data-frame_999="o:0;st:w;sR:7100;" style="z-index:10;font-family:'Quicksand';text-transform:capitalize;">Cam kết chân thành<br>
                    đối với sức khỏe của bạn
                </rs-layer>
                <!--
                -->
                <rs-layer id="slider-24-slide-84-layer-4" data-type="shape" data-rsp_ch="on" data-xy="xo:30px;yo:202px,155px,114px,85px;" data-text="w:normal;s:20,15,11,6;l:0,19,14,8;" data-dim="w:164px,158px,160px,155px;h:30px,30px,30px,25px;" data-border="bor:3px,3px,3px,3px;" data-frame_0="x:50,39,29,17;" data-frame_1="st:600;sp:1000;sR:600;" data-frame_999="o:0;st:w;sR:7400;" style="z-index:8;background-color:#d3e9fb;">
                </rs-layer>
                <!--
                --><a id="slider-24-slide-84-layer-6" class="rs-layer pq-button rev-btn" href="about-us.html" target="_self" data-type="button" data-rsp_ch="on" data-xy="xo:27px,30px,30px,30px;y:m;yo:93px,97px,104px,37px;" data-text="w:normal;s:14,16,16,12;l:22,24,30,20;fw:600;a:left,left,center,center;" data-dim="minh:0px,none,none,none;" data-padding="t:15,15,10,10;r:30,30,25,20;b:15,15,10,10;l:30,30,25,20;" data-border="bor:3px,3px,3px,3px;" data-frame_0="x:50,39,29,17;" data-frame_1="st:1300;sp:1000;sR:1300;" data-frame_999="o:0;st:w;sR:6700;" data-frame_hover="bgc:#14457b;bor:3px,3px,3px,3px;bos:solid;sp:100;bri:120%;" style="z-index:12;background-color:#2490eb;font-family:'Quicksand';text-transform:uppercase;"><span class="text">Đọc Thêm</span><i class="ion ion-plus-round"></i>
            </a>
                <!--
                -->
            </rs-slide>
            <rs-slide style="position: absolute;" data-key="rs-85" data-title="Slide" data-thumb="rev/assets/2-51-50x100.jpg" data-in="o:0;" data-out="a:false;">
                <img src="images/2-51.jpg" alt="" title="2-51.jpg" class="rev-slidebg tp-rs-img" data-no-retina="">
                <!--
                -->
                <rs-layer id="slider-24-slide-85-layer-0" data-type="text" data-color="#666666" data-rsp_ch="on" data-xy="xo:30px;y:m;yo:2px,17px,29px,17px;" data-text="w:normal;s:16,16,14,12;l:32,24,22,20;fw:600;" data-dim="w:654px,565px,436px,268px;h:auto,auto,45px,27px;" data-vbility="t,t,t,f" data-frame_0="x:50,39,22px,13px;y:0,0,0px,0px;" data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;st:1700;sp:1000;" data-frame_999="o:0;st:w;sR:6370;" style="z-index:11;font-family:'Quicksand';">Nền tảng đặt lịch khám bệnh của chúng tôi được thiết kế trực quan, dễ sử dụng, giúp bạn dễ dàng tìm kiếm và đặt lịch với đội ngũ bác sĩ uy tín, tận tâm.
                </rs-layer>
                <!--
                -->
                <rs-layer id="slider-24-slide-85-layer-1" data-type="text" data-color="#2490eb" data-rsp_ch="on" data-xy="xo:41px,38px,38px,37px;y:m;yo:-197px,-154px,-121px,-75px;" data-text="w:normal;s:14,14,14,13;l:22,22,26,21;fw:600;" data-frame_0="x:50,39,29,17;" data-frame_1="st:1100;sp:1000;sR:1100;" data-frame_999="o:0;st:w;sR:6900;" style="z-index:9;font-family:'Quicksand';text-transform:uppercase;">Kinh nghiệm bác sỹ lâu năm
                </rs-layer>
                <!--
                -->
                <rs-layer id="slider-24-slide-85-layer-2" data-type="text" data-color="#18100f" data-rsp_ch="on" data-xy="xo:30px,30px,30px,31px;y:m;yo:-105px,-75px,-50px,-30px;" data-text="w:normal;s:64,48,42,22;l:72,56,50,30;fw:600;" data-border="boc:#14457b;bow:1px,1px,1px,1px;" data-frame_0="x:50,39,29,17;" data-frame_1="st:1400;sp:1000;sR:1400;" data-frame_999="o:0;st:w;sR:6600;" style="z-index:10;font-family:'Quicksand';text-transform:capitalize;">Điều trị chỉnh hình
                    <br>
                    Đau cấp tính
                </rs-layer>
                <!--
                -->
                <rs-layer id="slider-24-slide-85-layer-4" data-type="shape" data-rsp_ch="on" data-xy="xo:30px;yo:202px,155px,114px,86px;" data-text="w:normal;s:20,15,11,6;l:0,19,14,8;" data-dim="w:233px,227px,227px,212px;h:30px,30px,30px,25px;" data-border="bor:3px,3px,3px,3px;" data-frame_0="x:50,39,29,17;" data-frame_1="st:1100;sp:1000;" data-frame_999="o:0;st:w;" style="z-index:8;background-color:#d3e9fb;">
                </rs-layer>
                <!--
                --><a id="slider-24-slide-85-layer-6" class="rs-layer pq-button rev-btn" href="about-us.html" target="_self" data-type="button" data-rsp_ch="on" data-xy="xo:27px,30px,30px,30px;y:m;yo:93px,97px,104px,37px;" data-text="w:normal;s:14,16,16,12;l:22,24,30,20;fw:600;a:left,left,center,center;" data-dim="minh:0px,none,none,none;" data-padding="t:15,15,10,10;r:30,30,25,20;b:15,15,10,10;l:30,30,25,20;" data-border="bor:3px,3px,3px,3px;" data-frame_0="x:50,39,29,17;" data-frame_1="st:1900;sp:1000;sR:1800;" data-frame_999="o:0;st:w;sR:6200;" data-frame_hover="bgc:#14457b;bor:3px,3px,3px,3px;bos:solid;sp:100;bri:120%;" style="z-index:12;background-color:#2490eb;font-family:'Quicksand';text-transform:uppercase;"><span class="text">Đọc thêm</span><i class="ion ion-plus-round"></i>
            </a>
                <!--
                -->
            </rs-slide>
            <rs-slide style="position: absolute;" data-key="rs-86" data-title="Slide" data-thumb="rev/assets/3-2-50x100.jpg" data-in="o:0;" data-out="a:false;">
                <img src="images/3-2.jpg" alt="" title="3-2" class="rev-slidebg tp-rs-img" data-no-retina="">
                <!--
                -->
                <rs-layer id="slider-24-slide-86-layer-0" data-type="text" data-color="#666666" data-rsp_ch="on" data-xy="xo:30px;y:m;yo:2px,17px,29px,17px;" data-text="w:normal;s:16,16,14,12;l:32,24,22,20;fw:600;" data-dim="w:654px,565px,436px,268px;h:auto,auto,45px,27px;" data-vbility="t,t,t,f" data-frame_0="x:50,39,22px,13px;y:0,0,0px,0px;" data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;st:1700;sp:1000;" data-frame_999="o:0;st:w;sR:6370;" style="z-index:11;font-family:'Quicksand';">Nền tảng đặt lịch khám bệnh của chúng tôi được thiết kế trực quan, dễ sử dụng, giúp bạn dễ dàng tìm kiếm và đặt lịch với đội ngũ bác sĩ uy tín, tận tâm

                </rs-layer>
                <!--
                -->
                <rs-layer id="slider-24-slide-86-layer-1" data-type="text" data-color="#2490eb" data-rsp_ch="on" data-xy="xo:41px,38px,38px,37px;y:m;yo:-197px,-154px,-121px,-81px;" data-text="w:normal;s:14,14,14,13;l:22,22,26,21;fw:600;" data-frame_0="x:50,39,29,17;" data-frame_1="st:1100;sp:1000;sR:1100;" data-frame_999="o:0;st:w;sR:6900;" style="z-index:9;font-family:'Quicksand';text-transform:uppercase;">mức độ chăm sóc cao
                </rs-layer>
                <!--
                -->
                <rs-layer id="slider-24-slide-86-layer-2" data-type="text" data-color="#18100f" data-rsp_ch="on" data-xy="xo:30px,30px,30px,31px;y:m;yo:-105px,-75px,-50px,-30px;" data-text="w:normal;s:64,48,42,22;l:72,56,50,30;fw:600;" data-border="boc:#14457b;bow:1px,1px,1px,1px;" data-frame_0="x:50,39,29,17;" data-frame_1="st:1400;sp:1000;sR:1400;" data-frame_999="o:0;st:w;sR:6600;" style="z-index:10;font-family:'Quicksand';text-transform:capitalize;">Thiết lập tiêu chuẩn<br>
                    trong vật lý trị liệu
                </rs-layer>
                <!--
                -->
                <rs-layer id="slider-24-slide-86-layer-4" data-type="shape" data-rsp_ch="on" data-xy="xo:30px;yo:202px,155px,114px,81px;" data-text="w:normal;s:20,15,11,6;l:0,19,14,8;" data-dim="w:178px,171px,172px,158px;h:30px,30px,30px,25px;" data-border="bor:3px,3px,3px,3px;" data-frame_0="x:50,39,29,17;" data-frame_1="st:1100;sp:1000;" data-frame_999="o:0;st:w;" style="z-index:8;background-color:#d3e9fb;">
                </rs-layer>
                <!--
                --><a id="slider-24-slide-86-layer-6" class="rs-layer pq-button rev-btn" href="about-us.html" target="_self" data-type="button" data-rsp_ch="on" data-xy="xo:27px,30px,30px,30px;y:m;yo:93px,97px,104px,37px;" data-text="w:normal;s:14,16,16,12;l:22,24,30,20;fw:600;a:left,left,center,center;" data-dim="minh:0px,none,none,none;" data-padding="t:15,15,10,10;r:30,30,25,20;b:15,15,10,10;l:30,30,25,20;" data-border="bor:3px,3px,3px,3px;" data-frame_0="x:50,39,29,17;" data-frame_1="st:1900;sp:1000;sR:1800;" data-frame_999="o:0;st:w;sR:6200;" data-frame_hover="bgc:#14457b;bor:3px,3px,3px,3px;bos:solid;sp:100;bri:120%;" style="z-index:12;background-color:#2490eb;font-family:'Quicksand';text-transform:uppercase;"><span class="text">Đọc Thêm</span><i class="ion ion-plus-round"></i>
            </a>
                <!--
                -->
            </rs-slide>
        </rs-slides>
        <rs-static-layers>
            <!--
            -->
        </rs-static-layers>
    </rs-module>
</rs-module-wrap>

<!--=================================
      END REVOLUTION SLIDER
      ================================= -->

<section class="servicebox p-lg-0 pb-0 pq-bg-grey ">
    <div class="container pq-mt-60">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-xl-4">
                <div class="pq-info-box pq-style-1">
                    <div class="pq-info-box-right-icon"> <i class=" flaticon-medical-doctor"></i> </div>
                    <div class="pq-info-box-icon"><i class=" flaticon-medical-doctor"></i></div>
                    <h5 class="pq-info-title">Liên Hệ Khẩn Cấp</h5>
                    <p class="pq-infobox-description">Khi cần khám bệnh gấp, người dùng có thể liên hệ khẩn cấp qua trang web để được hỗ trợ và đặt lịch nhanh </p>
                    <div class="pq-info-call"> <i class="fas fa-phone-alt"></i>
                        <h4 class="cpq-call-number">0937590023</h4> </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xl-4 pt-md-0 pt-4">
                <div class="pq-info-box pq-style-2">
                    <div class="pq-info-box-right-icon"> <i class=" flaticon-doctor"></i> </div>
                    <div class="pq-info-box-icon"><i class=" flaticon-doctor"></i></div>
                    <h5 class="pq-info-title">Lịch khám bác sỹ</h5>
                    <p class="pq-infobox-description">Thông tin thời gian làm việc của bác sĩ được cập nhật rõ ràng, hỗ trợ người dùng chọn giờ hẹn thuận tiện nhất </p>
                    <a class="pq-button pq-button-flat" href="make-appoinment.html">
                        <div class="pq-button-block"> <span class="pq-button-text">Timetable</span> <i class="ion ion-plus-round"></i> </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xl-4 pt-xl-0 pt-4">
                <div class="pq-info-box pq-style-3">
                    <div class="pq-info-box-right-icon"> <i class=" flaticon-care"></i> </div>
                    <div class="pq-info-box-icon"><i class=" flaticon-medical-history"></i></div>
                    <h5 class="pq-info-title">Thời gian khám</h5>
                    <div class="pq-info-hours">
                        <div class="pq-info-hours-row">
                            <ul class="pq-list-info">
                                <li>
                                    <div class="pq-info-hours-title"> Thứ Hai - Thứ Sáu </div>
                                    <div class="pq-info-hours-content"> 8:00 - 7:00 PM </div>
                                </li>
                                <li>
                                    <div class="pq-info-hours-title"> Thứ Bảy </div>
                                    <div class="pq-info-hours-content"> 6:00 - 5:00 PM </div>
                                </li>
                                <li>
                                    <div class="pq-info-hours-title"> Chủ Nhật </div>
                                    <div class="pq-info-hours-content"> 9:00 - 4:00 PM </div>
                                </li>
                                <li>
                                    <div class="pq-info-hours-title"> Khẩn cấp </div>
                                    <div class="pq-info-hours-content"> 24HRS Cả Tuần </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section End-->

<!--Section about-us start-->
<section class="pq-bg-grey">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6"> <img src="images/1.jpeg" class="img-fluid pe-xl-5 wow fadeInLeft" alt="home"> </div>
            <div class="col-lg-6 align-self-center mt-lg-0 mt-4">
                <div class="pq-section pq-style-1 text-left"> <span class="pq-section-sub-title">Về Chúng Tôi</span>
                    <h5 class="pq-section-title">Tận Tâm Y Đức Luôn Vì Lợi Ích Bệnh Nhân</h5>
                    <p class="pq-section-description">Chúng tôi là nền tảng đặt lịch khám bệnh trực tuyến, kết nối bệnh nhân với bác sĩ uy tín, nhanh chóng và tiện lợi.</p>
                </div>
                <ul class="pq-list-check pq-text-dark mt-3 mb-4">
                    <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Dịch Vụ Nội Trú Toàn Diện</span></li>
                    <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Dịch Vụ Y Tế Và Phẩu Thuật</span></li>
                    <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Dịch Vụ Ngoại Trú</span></li>
                    <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Y Học Và Dụng Cụ</span></li>
                    <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Dịch Vụ Chăm Sóc Đặc Biệt</span></li>
                    <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Làm Việc Linh Hoạt & Hẹn Lịch</span></li>
                </ul>
                <a class="pq-button pq-button-flat mt-3" href="about-us.html">
                    <div class="pq-button-block"> <span class="pq-button-text">Đọc Thêm</span> <i class="ion ion-plus-round"></i> </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!--Section about-us End-->
<!--Section service start-->
<!--Section service End-->
<!--Section about start-->

<!--Section about End-->
<!--Section service start-->
<!--Section service End-->
<!--Section portfolio start-->

<!--Section portfolio End-->
<!--Section process-step start-->
<section class="process-step pq-bg-img-2 pq-process-pt-130 ">
    <div class="container  ">
        <div class="row ">
            <div class="col-lg-12">
                <div class="pq-section pq-style-1 text-center"> <span class="pq-section-sub-title">THEO BƯỚC CHUNG TÔI</span>
                    <h5 class="pq-section-title">Quy Trình làm Việc Tốt</h5> </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="pq-process-step pq-process-style-2 ">
                    <div class="pq-process-media">
                        <div class="pq-process-img"><img src="images/1_1.png" class="img-fluid" alt="medicate"> </div>
                        <div class="pq-process-number"> <span>01</span> </div>
                    </div>
                    <div class="pq-process-step-info">
                        <h5 class="pq-process-title">Chăm Sóc Khẩn Cấp</h5> <span class="pq-process-sub-title"></span>
                        <div class="pq-process-description">
                            <p>Hệ thống ghi nhận thông tin người bệnh và tình trạng khẩn cấp qua website hoặc hotline</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="pq-process-step pq-process-style-2 ">
                    <div class="pq-process-media">
                        <div class="pq-process-img"><img src="images/2.png" class="img-fluid" alt="medicate"> </div>
                        <div class="pq-process-number"> <span>02</span> </div>
                    </div>
                    <div class="pq-process-step-info">
                        <h5 class="pq-process-title">Chăm Sóc Khẩn Cấp</h5> <span class="pq-process-sub-title"></span>
                        <div class="pq-process-description">
                            <p>Nhân viên y tế đánh giá nhanh tình trạng bệnh nhân để phân loại mức độ cần cấp cứu</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="pq-process-step pq-process-style-2 ">
                    <div class="pq-process-media">
                        <div class="pq-process-img"><img src="images/3.png" class="img-fluid" alt="medicate"> </div>
                        <div class="pq-process-number"> <span>03</span> </div>
                    </div>
                    <div class="pq-process-step-info">
                        <h5 class="pq-process-title">Chăm Sóc Khẩn Cấp</h5> <span class="pq-process-sub-title"></span>
                        <div class="pq-process-description">
                            <p>Hệ thống tự động kết nối với bác sĩ đang trực hoặc gần nhất để phản hồi kịp thời</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="pq-process-step pq-process-style-2 ">
                    <div class="pq-process-media">
                        <div class="pq-process-img"><img src="images/4.png" class="img-fluid" alt="medicate"> </div>
                        <div class="pq-process-number"> <span>04</span> </div>
                    </div>
                    <div class="pq-process-step-info">
                        <h5 class="pq-process-title">Chăm Sóc Khẩn Cấp</h5> <span class="pq-process-sub-title"></span>
                        <div class="pq-process-description">
                            <p>Bệnh nhân nhận hướng dẫn sơ cứu từ bác sĩ và được hỗ trợ sắp xếp lịch khám/cấp cứu ngay</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center mt-4">
                <a class="pq-button pq-button-flat" href="/dat-lich">
                    <div class="pq-button-block"> <span class="pq-button-text">Đặt Lịch Ngay</span> <i class="ion ion-plus-round"></i> </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!--Section process-step End-->
<!--Section team start-->

<!--Section team End-->
<!--Section form start-->


<!--Section form End-->
<!--Section testimonial Start-->

<!--Section testimonial End-->
<!--Section client Start-->
<div class="pq-client">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel owl-theme" data-dots="false" data-nav="false" data-desk_num="5" data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="true" data-loop="true" data-margin="30">
                    <div class="item">
                        <div class="pq-clientbox pq-style-1">
                            <a href="#"> <img src="images/1.png" alt="pq-client-img" class="pq-client-img img-fluid"> <img src="images/1.png" alt="pq-client-img" class="pq-client-hover-img img-fluid"> </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pq-clientbox pq-style-1">
                            <a href="#"> <img src="images/2_2.png" alt="pq-client-img" class="pq-client-img img-fluid"> <img src="images/2_2.png" alt="pq-client-img" class="pq-client-hover-img img-fluid"> </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pq-clientbox pq-style-1">
                            <a href="#"> <img src="images/3_1.png" alt="pq-client-img" class="pq-client-img img-fluid"> <img src="images/3_1.png" alt="pq-client-img" class="pq-client-hover-img img-fluid"> </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pq-clientbox pq-style-1">
                            <a href="#"> <img src="images/4_1.png" alt="pq-client-img" class="pq-client-img img-fluid"> <img src="images/4_1.png" alt="pq-client-img" class="pq-client-hover-img img-fluid"> </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pq-clientbox pq-style-1">
                            <a href="#"> <img src="images/5.png" alt="pq-client-img" class="pq-client-img img-fluid"> <img src="images/5.png" alt="pq-client-img" class="pq-client-hover-img img-fluid"> </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pq-clientbox pq-style-1">
                            <a href="#"> <img src="images/1.png" alt="pq-client-img" class="pq-client-img img-fluid"> <img src="images/1.png" alt="pq-client-img" class="pq-client-hover-img img-fluid"> </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pq-clientbox pq-style-1">
                            <a href="#"> <img src="images/2_2.png" alt="pq-client-img" class="pq-client-img img-fluid"> <img src="images/2_2.png" alt="pq-client-img" class="pq-client-hover-img img-fluid"> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Section client End-->
<!--Section blog Start-->s
<!--Section blog End-->

<!-- =========================
     Footer start
     ============================== -->

<section th:replace="fragments/fragment :: footer"></section>
<!--Footer End-->

<!--Back To Top start-->
<div id="back-to-top">
    <a class="topbtn" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
</div>
<!--Back To Top End-->
<!--jquery js-->
<script src="js/jquery.min.js"></script>
<!--bootstrap js-->
<script src="js/bootstrap.min.js"></script>
<!--owl-carousal-->
<script src="js/owl.carousel.min.js"></script>
<!--progress-bar js-->
<script src="js/progressbar.js"></script>
<!--isotope js-->
<script src="js/isotope.pkgd.min.js"></script>
<!--countTo js-->
<script src="js/jquery.countTo.min.js"></script>
<!--Maginfic-Popup js-->
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- Animation JS -->
<script src="js/wow.min.js"></script>
<!-- Rev-Slider -->
<script src="js/rbtools.min.js"></script>
<script src="js/rs6.min.js"></script>
<script src="js/rev-custom.js"></script>
<!--custom js-->
<script src="js/custom.js"></script>
<script th:src="@{js/script.js}"></script>


<script>
    jQuery(window).on('load', function (e) {
       jQuery(".pq-applyform .form-btn").click(function () {
          var first_name = jQuery('#first-name').val();
          var doctor_name = jQuery('#doctor-name').val();
          var disease_name = jQuery('#disease-name').val();
          var email = jQuery('#e-mail').val();

          var result;

          jQuery('.pq-applyform .pq-message').remove();
          jQuery('.pq-applyform .pq-thank-you-message').remove();

          if (first_name == '' || first_name == undefined) {
             jQuery("<span class='pq-name-error-message pq-message'>Please fill the field</span>").insertAfter('.pq-applyform .name-field');
             result = false;
          }
          else {
             jQuery('.pq-name-error-message').remove();
             result = true;
          }

          if (email == '' || email == undefined) {
             jQuery("<span class='pq-email-error-message pq-message'>Please fill the field</span>").insertAfter('.pq-applyform .e-mail-field');
             result = false;
          }
          else {
             jQuery('.pq-email-error-message').remove();
             result = true;
          }

          if (doctor_name == '' || doctor_name == undefined )
          {
             jQuery("<span class='pq-doctor-name-error-message pq-message'>Please fill the field</span>").insertAfter('.pq-applyform .doctor-name-field');
             result = false;
          }
          else
          {
             jQuery('.pq-doctor-name-error-message').remove();
             result = true;
          }

          if (disease_name == '' || disease_name == undefined )
          {
             jQuery("<span class='pq-disease-name-error-message pq-message'>Please fill the field</span>").insertAfter('.pq-applyform #disease-name');
             result = false;
          }
          else
          {
             jQuery('.pq-disease-name-error-message').remove();
             result = true;
          }

          if(result == true)
          {
             var email = jQuery("#email").text();
             event.preventDefault();
             jQuery.ajax({
                type: "POST",
                url: "mail.php",
                data: {'email':email },
                success: function(){
                  jQuery("<span class='pq-thank-you-message pq-text-white ms-5'> Thank You For Filling The form</span>").insertAfter('.pq-applyform .pq-button');
               }
            });
          }
       });
    });
</script>


<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'},{'ap':'cpbh-mt'},{'server':'sg2plmcpnl492384'},{'dcenter':'sg2'},{'cp_id':'9858662'},{'cp_cache':''},{'cp_cl':'8'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src="js/scc-c2.min.js"></script></body></html>